@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Single+Day&display=swap');
*{margin:0; padding: 0;
    font-family: "Noto Sans KR", sans-serif; font-optical-sizing: auto; font-style: normal;
    box-sizing: border-box;
}
a{text-decoration: none; color:inherit;}
ul,ol{list-style: none;}
table,td{border-collapse: collapse;}

#header-top{width:100%; height:35px; background: #202020;}
#header-top ul{ width:400px; height:35px; 
 color:white; font-size: 13px; margin-right:25px;
 float:right; display: flex;  justify-content: space-between; align-items: center;
}
#header-top li a::after{ content:"|"; color: rgba(255,255,255,0.2); margin:0 7px; }
#header-top li:last-child a::after{ content:""; }

nav{width:100%; height:81px; border-bottom:1px solid black;}
#nav-nav{width:1840px; height:81px;  margin:0 auto;  
    display: flex; justify-content: space-between; align-items: center;
}
nav .logo a{ display: inline-block;
  width:100px; height:30px;
  background: url('../images/ico_set.png') -320px -385px no-repeat;
  background-size: 800px 800px;
}
nav .menu{ width:750px;  } 
.menu ul{display: flex; justify-content: space-between;} 
.menu a{  font-size:22px; font-weight: 700;
    line-height: 81px; height:81px; display: inline-block; 
}
.menu a:hover{ border-bottom:4px solid #98af01; }
nav .q_menu{width:100px; height:52px; } 
.q_menu ul{ font-size: 12px; font-weight: 600; color:#101010;
    display: flex; justify-content: space-between;
}
.q_menu-img1,.q_menu-img2{ margin:0 auto; width:32px; height:32px; }
.q_menu-img1{ background: url('../images/ico_set.png') -584px -320px no-repeat;
    background-size: 800px 800px; }
.q_menu-img2{ background: url('../images/ico_set.png') -628px -320px no-repeat;
    background-size: 800px 800px; }
#banner{ width:100%; height:320px;
     background: url('../images/join_sub.jpg') no-repeat; }
#content{width:100%;  margin-bottom:100px; } 
section {width:1000px;  margin:0 auto;} 
.location ul{display: flex; float:right; margin-top:38px;
    font-size:13px; color:rgb(92,92,92); font-weight: 700; }  
 
.location li a{ display: inline-block; padding:0 13px 0 10px;
    background: url('../images/join/bg_location_li.png') right no-repeat;
}   
.location li:nth-child(3) a{ background-image: url('');
    padding:0 0 0 10px;
}
/* #content 배너가 있는 부분 */
#content section h3{ clear: both; 
    font-size: 40px; font-weight: 700; color:#333;
    text-align: center; margin-bottom:30px;
    padding-top:25px;
}

/* 배너가 없는 부분 */
#content .sect1{width:450px; margin:0 auto; }
#content .sect1 h3{  font-size: 40px; font-weight: 700; color:#333;
    text-align: center; margin-bottom:30px; padding-top:82px; }
.category ul{ display: flex;}
.category li {margin-right:15px;}
.category li a{ display: inline-block; height:32px; 
    font-size: 13px; padding: 0 5px 15px 0px; 
} 
.category li:nth-child(1) a{ border-bottom:5px solid black; }
.category li a:hover{ border-bottom:5px solid black; }
.sect1 input{border:2px solid #ccc; width:100%; height:38px;
  font-size: 16px; padding-left:10px; margin-bottom: 7px;  }
.sect1 form{margin-top:20px;}



#content .sect1 .saveFind{display: flex; width:100%; justify-content: space-between;}

#content .sect1 .find{ width:190px; text-align: right;  }
/* save id부분 */
.save-id label { font-size: 16px; font-weight: 500;     }
.save-id input[type='checkbox']:not(old){ width:24px; height:20px; opacity: 0;

}
.save-id input[type='checkbox']:not(old) + label{ width:200px;
    margin:0 10px 0 -24px;  padding-left:27px;
    background: url('../images/icon_chk_off.svg') no-repeat 0 3px; }
.save-id input[type='checkbox']:not(old):checked + label{
    background: url('../images/icon_chk_on.svg') no-repeat 0 3px; 
}
.sect1 form button{width:100%; height: 55px; background: #bdd61a; border: none;
margin-top:16px; font-size: 18px; font-weight: 600;
}

.sect1 .sns{width: 400; margin: 38px auto 0; }
.sns ul{display: flex; justify-content: space-evenly;
    text-align: center;font-size: 12px; color: #767676;}
.sns li{width: 50px; height: 74px; }
.sns li img{margin-bottom: 10px;}
.sect1 .sign-info{margin-top: 50px; padding: 20px 15px 25px 15px;
    background: #f7f7f7; width:100%;
}
#content .sect1 .sign-info>h3{padding:0; margin-bottom: 4px;
    font-size: 16px; text-align: left; font-weight: 700;
}
#content .sect1 .sign-info p{font-size: 15px;}
#content .sect1 .sign-info .sign-up{
    width: 260px; height: 50px; margin-top: 15px; padding-left: 10px;
    font-size: 17px; font-weight: 600;background: white; border: 2px solid #ccc;
    line-height: 44px;
}



/*-----------*/



.join-step ul{ display: flex; text-align: center;
}
.join-step li{width:333px; height:103px; border:1px solid #efefef;
    padding:20px 0;
}
.join-step li:nth-child(2){background: #8b8075; color:white;}
.join-step span{ font-size: 12px; font-weight: 700; padding:10px 0 7px; }
.join-step p{font-size: 20px; font-weight: 700;}
section h4{ width:1000px; height:36px; 
    margin-top:20px; margin-bottom:5px; padding:0 0 0 10px;
    font-size:20px; color:#333; font-weight: 600;
}
section h4>span{ font-size: 13px; color:#555;}

section table{ width:1000px;
    border-top:1px solid rgb(209,209,209);
    border-bottom:1px solid rgb(209,209,209);   
}
section th,section td{ border-bottom:1px solid rgb(230,230,230);  padding:10px 20px;   }
section th{text-align: left; width:200px; background: #f6f6f6;
            font-size: 13px;  }
section td{width:800px; }            
section th>span{display: inline-block; width:10px; height:10px;
   background: url('../images/join/point_rs.png') no-repeat 45% 88%;
   margin-right:5px;
}
section td input{width:280px; height:30px; padding-left:10px;}
section td button { width: 84px; height:34px; background: #6f6f6f;
  padding:0 10px; color:white; font-weight: 700;
  border:none; cursor: pointer;
}
section td span{ font-size: 13px; color:#555; font-weight: 600; margin-top:5px; }
.form-email td>input{width:134px;}
.form-email td>input:nth-of-type(2){width:164px;}
.form-email select{width:150px; height:30px;}
/* address 주소 */
.form-address input[name='postZip']{width:120px;}
.form-address input[name='addr1']{width:759px; margin-top:5px;}
.form-address input[name='addr2']{width:759px; margin-top:5px;}
/* phone 휴대전화 */
.form-phone input{width:79px;}
/* birth 생년월일 */
.form-birth select{width:80px; height:34px;}
.form-birth span{margin-right:10px;}
.form-birth div{margin-top:10px; }

/* form 라디오박스 공통영역*/
form div{ width:150px; height:30px;  }
form label{font-size: 13px; font-weight: 700; color:#555;}
form input[type='radio']:not(old){ width:24px; height:20px; opacity: 0; }
form input[type='radio']:not(old) + label{
    width:24px; height:24px;
    margin:0 10px 0 -24px;  padding-left:24px;
    background: url('../images/join/radio_off.jpg') no-repeat 0 2px;
}
form input[type='radio']:not(old):checked + label{
    background: url('../images/join/radio_on.jpg') no-repeat 0 2px;
}
/* gender 성별부분 - 없음 */
/* news 뉴스레터부분, sms SMS수신여부부분 */
.form-news div,.form-sms div{ display: inline;  }
/*----------------------*/
.form-job select{width:200px; height:34px;}

/* hobby 관심사부분 */
.form-hobby input[type='checkbox']:not(old){ width:24px; height:20px; opacity: 0; }
.form-hobby input[type='checkbox']:not(old) + label{
    width:24px; height:24px;
    margin:0 10px 0 -24px;  padding-left:24px;
    background: url('../images/join/radio_off.jpg') no-repeat 0 2px; }
.form-hobby input[type='checkbox']:not(old):checked + label{
    background: url('../images/join/radio_on.jpg') no-repeat 0 2px; }
.form-hobby div{ width:770px; height:81px;  }
.form-hobby ul{ display: flex; justify-content: left; 
    align-content: space-between; flex-wrap:wrap; }
.form-hobby li{ width:120px; margin:5px 0; }

/* 하단버튼부분 */
.form-button{width:1000px; height:58px; text-align: center; margin:15px auto 0;}
.form-button input{width:100px; height:55px; font-size: 15px; 
    font-weight: 700; border: 1px solid rgb(221,221,221);}
    .form-button input[type='submit']{ background: #8a8d8f; color:white;}
    .form-button input[type='reset']{ background: white; color:rgb(85,85,85); }
    
/* footer부분 */
footer{ clear:both;
    width:100%; height:213px; background-color: #202020; color:#808080;}
#footer-wrap{ width:1180px; height:177px; margin:0 auto; 
     display: flex; justify-content: space-between;
}
.foot-logo{width:300px;height:177px; padding-top:36px;}
.foot-logo a{width:160px; height:48px; display: block;
    background: url('../images/ico_set.png') no-repeat -320px -320px;
    background-size: 800px 800px; }
.foot-logo p{ font-size: 12px; padding:45px 0 0 1px;  }

.foot-addr{width:660px;height:177px; }
.foot-service{width:170px;height:177px; text-align: right; padding-top:31px; }
.foot-service select{ width:130px; height:25px; font-size: 13px; color:white;
    background: #202020; text-align: right; }
.foot-service div{margin-top:25px; font-size: 17px; font-weight: 600; color:white;
  letter-spacing: -2px;}
.foot-service div span{margin-right:6px; font-weight: 400;}
.foot-service a { display: block; width:88px; height: 32px;
    color:white; font-size: 13px; font-weight: 500; text-align: center;
    border:1px solid white; line-height: 30px; margin:38px 0 0 80px; }
/* 이용약관 주소 부분 */    
.foot-addr{padding-top: 32px;}
.foot-addr ul{ display: flex; }
.foot-addr li{padding-left:24px;  }
.foot-addr li a::after{ content:"|"; color: rgba(255,255,255,0.2); margin-left:24px; }
.foot-addr li:last-child a::after{ content:""; }
.foot-addr a{font-size: 13px; font-weight: 700; color:white; 
letter-spacing: -1.5px;  display: inline-block; height:26px; }
.foot-addr li:nth-child(2) a{color:#bdd61a;}
.foot-addr div{ font-size: 12px; letter-spacing: -1px; padding-top:18px; }
.foot-addr span{ display: inline-block; margin-top:6px; padding-right:6px; }
.foot-addr div a{font-size: 12px; font-weight: 400; padding-left:3px;}

/* 게시판 리스트 부분 */
.search{ width: 331px; margin: 0 auto;;}
.sect1 .search form{padding: 0; margin: 0; height: 40px;}
.sect1 .search select{width: 80px; height: 40px; padding: 5px; 
    font-size: 16px; border: 1px solid #666;}
.sect1 .search input{width: 200px; height: 40 px; padding: 5px;
    font-size: 16px; border: 1px solid #666;}
.sect1 .search button{width: 40px; height: 40px; background:#666 ;
    margin: 0;
color: white;}



