h1{text-align: center; color: #03c75a; font-size: 70px;
    height: 78px; padding: 62px; font-weight: 900;}
    /*form부분*/
    section{width: 460px; margin:0 auto ;}
    #id,#pw{width: 460px; height: 51px; box-sizing: border-box;
        padding:10px 35px 10px 15px; font-size: 15px;border: 1px solid #dadada}
    #id{margin-bottom: 14px; }
    #pw{margin-bottom: 30px;}
    /* 버튼부분 */
    #loginBtn{width: 464px; height: 61px; background: #03c75a;
    border:none; font-size: 20px; font-weight: 700; color: white;
    cursor: pointer;}